@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <img src="https://scontent.fsal5-1.fna.fbcdn.net/v/t1.0-9/cp0/16174899_373135979720077_5193266354472283084_n.jpg?_nc_cat=110&ccb=3&_nc_sid=825194&_nc_ohc=fCO_Xn1jU2QAX_ZuBwS&_nc_ht=scontent.fsal5-1.fna&_nc_tp=29&oh=86a025c78d46cd92f8d31ac26b93d81b&oe=604C6037" class="img-fluid" alt="...">
    <h1 class="display-4">Liceo Cultural Santiagueño </h1>
    <h2>Enseñanza y Sabiduria</h2>
    <img src="https://i.pinimg.com/originals/d4/6f/30/d46f30c9421a1e5e1a586b71da1e60e2.jpg" class="img-fluid" alt="...">
</div>
